/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --white: #ffffff;
    --lightgray: #f0f0f0;
    --mediumgray: #b8b8b8;
    --darkgray: #808080;
    --black: #000000;
}

body {
    background-color: var(--lightgray);
    font-family: 'Roboto', sans-serif; 
    text-align: center;
}

.lined {
    display: inline-block;       /* text defines width */
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 4px 0;
}

a.custom-link {
    text-decoration: none;
    /*text-decoration: underline dashed;*/
    text-underline-offset: 10px; /* separa el subrayado */
    text-decoration-thickness: 1px;
    color: var(--black);
    transition: color 0.2s;
}

a.custom-link:hover {
    color: var(--darkgray); /* gris oscuro */
}
    