@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); 

:root {
    --white-rgb: 255,255,255;
    --white: #ffffff; 
    --black: #000000; 
    --black-rgb: 0,0,0; 
} 

body, html { 
    height: 100%; 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
    text-align: center; 
} 

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
}

.navbar h2, .navbar h5 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    color: var(--black);
}

.navbar h5 {
    display: flex;
    gap: 20px;
}

a.custom-linkb { 
    text-decoration: none; 
    color: var(--black); 
    font-weight: 300; 
} 

a.custom-linkb:hover { 
    text-decoration: underline; 
    text-decoration-style: dotted; 
    text-underline-offset: 6px; 
    text-decoration-color: var(--black); 
} 

/* Subtitle */
.subtitle h2 { 
    text-align: center; 
    padding: 75px 0; 
    color: var(--black); 
}

/* Slides */
.col-md-6 {
    position: relative;
    height: 400px;
}

.slide2 {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    margin: 15px;
    object-fit: cover;
    object-position: top;
    opacity: 0;
    transition: opacity 1s linear;
    border: 5px solid var(--white);
}

/* Target */
.subheading {
    margin: 150px 15px 0px 15px;
}
.subheading h2 {
    text-align: left;

}
.subheading h2.prueba{
    margin: 30px 0;
    padding: 0;
}
.links-renderizados {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 60px 15px;
}

.target-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* fuerza alineación a la izquierda */
    gap: 20px;
}

.hover-column {
    position: relative;
    width: 250px;
}

.hover-box {
    position: absolute;
    top: 0;
    left: 100px;
    width: 500px;
    height: 300px; 
    padding: 0 0 0 30px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2rem; /* mismo tamaño que h5/hover-link */
    line-height: 1.4;
    text-align: left;
    background-color: var--(white-rgb);
    color: var(--black);
    border-radius: 5px;
    display: none;
    z-index: 10;
    overflow-y: auto;
}

/* hover-link como h5 */
.hover-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/* asegura que SOLO ese h2 con clase .prueba dentro de .subheading reciba el estilo */
.subheading > h2.prueba {
    margin: 30px 0;
    padding: 0;
}